  .chat-section {
    background-color: #f1f4f7;
    padding: 60px 40px;
  }
  @media (max-width: 991px) {
    .chat-section {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .chat-img {
    margin-top: -15px;
    aspect-ratio: 0.64;
    object-fit: auto;
    object-position: center;
    width: 160%;
    flex-grow: 1;
  }
  .chat-title {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  .chat-content {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .chat-form {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .chat-form {
      width: 100%;
    }
  }
  .button-section {
    align-items: flex-end;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    color: var(--Global-White, #fff);
    white-space: nowrap;
    letter-spacing: 0.38px;
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .button-section {
      max-width: 100%;
      padding-left: 20px;
      white-space: initial;
    }
  }
  .btn-submit {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .btn-submit {
      white-space: initial;
    }
  }

  @media (min-width: 858px){
    .btn-mob {
      display: none;
    }

    .chat-icon-placeholder {
      width: 50%;
    }

    .chat-text {
      width: 69%;
      margin-left: 1rem;
      padding: 1.5rem;
    }

    .chat-icon {
      width: 31%;
    }
  }

  @media (max-width: 858px){
    .mob-view {
      flex-direction: column;
    }

    .chat-form {
      margin-left: 0px;
    }

    .button-section {
      display: none;
    }

    .btn-mob {
      margin-bottom: 30px;
      background-color: #2a72c7;
    }

    .chat-icon-placeholder {
      width: 100%;
    }

    .chat-icon {
      display: none;
    }

    .chat-text {
      padding: 20px 0px;
    }

    .chat-title {
      letter-spacing: -0.28px;
      font: 700 24px Poppins, sans-serif;
      text-align: center;
    }

    .chat-content {
      text-align: justify;
    }
  }

  .error-input {
    border: 1px solid red !important;
  }