<section>
  <div class="d-flex w-100">
    <div class="chat-section">
      <div class="d-flex mob-view" style="justify-content: space-between;">
        <div class="chat-icon-placeholder">
          <div>
            <div class="d-flex" style="gap: 20px;">
              <div class="chat-icon">
                <img
                  loading="lazy"
                  srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d447bc67b58abea85ee8b1baf8cb2626f8565ccc353e066190ebabe0bae1d62a?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                  class="chat-img"
                />
              </div>
              <div class="chat-text">
                <div class="chat-title">Got a brief? Let’s chat</div>
                  <div class="chat-content">
                    Get better solutions for your business by working with
                    experts in the employment industry
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-form">
          <div class="form-row mb-2">
            <div class="form-group col-md-6 pr-2">
              <label for="name">Your Name</label>
              <input type="text" [ngClass]="custNameError ? 'error-input' : ''" class="form-control" [(ngModel)]="custName" style="height: 2.5em;" id="name" placeholder="Jhon Doe">
            </div>
            <div class="form-group col-md-6 pl-2">
              <label for="email">Your Email</label>
              <input type="email" [ngClass]="custEmailError ? 'error-input' : ''" class="form-control" [(ngModel)]="custEmail" style="height: 2.5em;" id="email" placeholder="nama@email.com">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="form-group col-md-6 pr-2">
              <label for="company">Your Company</label>
              <input type="text" [ngClass]="custCompanyError ? 'error-input' : ''" class="form-control" [(ngModel)]="custCompany" style="height: 2.5em;" id="company" placeholder="PT. Lifelong Learning">
            </div>
            <div class="form-group col-md-6 pl-2">
              <label for="handphone">No. Handphone</label>
              <input type="text" [ngClass]="custPhoneError ? 'error-input' : ''" mask="000000000000000" maxlength="14" class="form-control" [(ngModel)]="custPhone" style="height: 2.5em;" id="handphone" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" [ngClass]="custDescError ? 'error-input' : ''" id="message" [(ngModel)]="custDesc" placeholder="Description" rows="5"></textarea>
          </div>
          <div class="button-section" style="cursor: pointer;" (click)="onSubmit()"><div class="btn-submit">Submit</div></div>
          <div class="btn btn-primary btn-mob" style="cursor: pointer;" (click)="onSubmit()">Lets Talk</div>
        </div>
      </div>
    </div>
  </div>
</section>