<div class="div">
  <app-section-header></app-section-header>
  <div class="div-11">
    <div class="div-12">
      <div class="div-13">Privacy Policy</div>
      <div class="div-14">
        SDM is a member of Scout Solution Group, an Indonesian based
        company, with its expertise on providing a well trained, high
        integrity and professionalism man power, outsourcing and human
        resources management solutions
      </div>
    </div>
  </div>
  <div class="div-15">
    <div class="div-16">
      <div class="div-17">Home</div>
      <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c7cc6b9b892c6f28129e278aa9d170da255008855e0fb5d7727fdd4c762d5d38?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
      class="img-2"
      />
      <div class="div-17">About Us</div>
    </div>
    <div class="div-19">
      <div class="div-20">
        <div class="div-21">
          <div class="column">
            <div class="div-22">
              <div class="div-23">Dummy</div>
              <div class="div-24">
                SDM is a member of Scout Solution Group, an Indonesian based
                company, with its expertise on providing a well trained,
                high integrity and professionalism man power, outsourcing
                and human resources management solutions to be part of your
                winning team. high integrity and professionalism man power,
                outsourcing and human resources management solutions to be
                part of your winning team.
              </div>
              <div class="div-25">
                SDM is a member of Scout Solution Group, an Indonesian based
                company, with its expertise on providing a well trained,
                high integrity and professionalism man power, outsourcing
                and human resources management solutions to be part of your
                winning team. high integrity and professionalism man power,
                outsourcing and human resources management solutions to be
                part of your winning team.
              </div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-26">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e3d33b509121fe41e996a9a36494bdbe23dee4f31911e196f478208f22659a63?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                class="img-3"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="div-27">
        <div class="div-28">
          <div class="column">
            <div class="div-29">
              <div class="div-30">Dummy</div>
              <div class="div-31">
                SDM is a member of Scout Solution Group, an Indonesian based
                company, with its expertise on providing a well trained,
                high integrity and professionalism man power, outsourcing
                and human resources management solutions to be part of your
                winning team. high integrity and professionalism man power,
                outsourcing and human resources management solutions to be
                part of your winning team.
              </div>
              <div class="div-32">
                SDM is a member of Scout Solution Group, an Indonesian based
                company, with its expertise on providing a well trained,
                high integrity and professionalism man power, outsourcing
                and human resources management solutions to be part of your
                winning team. high integrity and professionalism man power,
                outsourcing and human resources management solutions to be
                part of your winning team.
              </div>
            </div>
          </div>
          <div class="column-3">
            <div class="div-33">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a27882f9642469902aa11e991207c0d2858d23e95453030bd7fe327de8190d2?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                class="img-4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-section-footer></app-section-footer>
</div>