.div {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 11px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-3 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1272px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-4 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-wrap: wrap;
    }
  }
  .div-6 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-8 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-10 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }
  .div-11 {
    background: linear-gradient(0deg, #2a72c7 0%, #2a72c7 100%);
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 70px 0px;
    margin: 70px 0px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-12 {
    display: flex;
    margin-bottom: 82px;
    width: 960px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin-bottom: 40px;
    }
  }
  .div-13 {
    letter-spacing: -0.36px;
    align-self: center;
    font: 700 36px Poppins, sans-serif;
  }
  .div-14 {
    letter-spacing: -0.1px;
    margin-top: 20px;
    font: 400 18px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
    }
  }
  .div-15 {
    border-radius: 20px;
    background-color: #fff;
    align-self: center;
    z-index: 10;
    display: flex;
    margin-top: -155px;
    width: 100%;
    max-width: 90%;
    flex-direction: column;
    padding: 15px 0;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: var(--Body-Text-Link, #2a72c7);
    font-weight: 400;
    letter-spacing: -0.32px;
    padding: 16px 32px;
  }
  @media (max-width: 991px) {
    .div-16 {
      padding: 0 20px;
    }
  }
  .div-17 {
    font-family: Open Sans, sans-serif;
  }
  .div-18 {
    color: var(--Body-Text-Muted, #bec2c7);
    align-self: flex-start;
    font: 16px Open Sans, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: 0px -2px;
  }
  .div-19 {
    align-self: center;
    display: flex;
    margin-top: 16px;
    width: 100%;
    padding: 0px 50px 80px 50px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
    }
  }
  .div-20 {
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-21 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-22 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 28px;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
      margin-top: 32px;
      padding: 0 20px;
    }
  }
  .div-23 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
  .div-24 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-26 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-3 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
    }
  }
  .div-27 {
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
    }
  }
  .div-28 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-28 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-29 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 28px;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      margin-top: 32px;
      padding: 0 20px;
    }
  }
  .div-30 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
    }
  }
  .div-31 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
    }
  }
  .div-32 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-33 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-4 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-4 {
      max-width: 100%;
    }
  }
  .div-34 {
    align-items: center;
    background-color: #2a72c7;
    display: flex;
    margin-top: 76px;
    width: 100%;
    flex-direction: column;
    padding: 36px 60px 0;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-35 {
    display: flex;
    width: 100%;
    max-width: 1236px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
    }
  }
  .div-36 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-37 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img-5 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .div-38 {
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
    }
  }
  .div-39 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-39 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-40 {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-40 {
      margin-top: 40px;
    }
  }
  .div-41 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-42 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-6 {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .div-43 {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-44 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-44 {
      margin-top: 40px;
    }
  }
  .div-45 {
    display: flex;
    flex-direction: column;
  }
  .div-46 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-47 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-48 {
    font-family: Open Sans, sans-serif;
    margin: auto 0;
  }
  .div-49 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-51 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  @media (max-width: 991px) {
    .div-51 {
      white-space: initial;
    }
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-52 {
    font-family: Open Sans, sans-serif;
  }
  .div-53 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
  }
  .div-54 {
    font: 700 20px Open Sans, sans-serif;
  }
  .div-55 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .div-56 {
    font-family: Open Sans, sans-serif;
  }
  .div-57 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-58 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-59 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-60 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-61 {
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-top-width: 1px;
    color: #fff;
    text-align: right;
    margin: 24px 30px 0;
    padding: 24px 60px;
    font: 400 14px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-61 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  @media (min-width: 858px){

  }

  @media (max-width: 858px){
    .div-11 {
      margin: 55px 0px
    }

    .div-12 {
      margin: 40px 0px 60px 0px;
    }

    .div-15 {
      margin-top: -90px;
    }

    .div-16 {
      display: none;
    }

    .column-2, .column-3 {
      margin-left: 0px;
    }

    .div-19 {
      margin-top: 0px;
      padding: 0px 20px;
    }

    .div-22, .div-29 {
      padding: 0px;
    }
    
    .div-20, .div-27 {
      padding-bottom: 0px;
    }
  }