  .div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-2 {
    background-color: var(--Global-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 650px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-14 {
    position: relative;
    margin-top: 144px;
    width: 100%;
    padding: 0 80px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-15 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-15 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-16 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--Body-Text-Default, #263444);
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-17 {
    letter-spacing: -0.64px;
    font: 900 64px/120% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-18 {
    text-align: justify;
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 18px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-19 {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .img-3 {
    object-fit: auto;
    object-position: center;
    margin-left: -40px;
    width: 110%;
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
    }
  }
  .div-20 {
    position: relative;
    align-self: flex-end;
    display: flex;
    margin-top: 19px;
    width: 169px;
    max-width: 100%;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.28px;
    justify-content: center;
  }
  .div-21 {
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(50, 217, 81, 1);
    box-shadow: 0px 0px 25px rgba(253, 167, 102, 0.15);
    display: flex;
    gap: 6px;
    padding: 14px 12px;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-22 {
    font-family: Rubik, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-23 {
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px -4px 70px rgba(0, 0, 0, 0.1);
    min-height: 37px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
  .div-24 {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 60px;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-25 {
    margin: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-26 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-26 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .img-5 {
    aspect-ratio: 1.45;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-5 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-27 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-28 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
    }
  }
  .div-29 {
    text-align: justify;
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 14px/24px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
    }
  }
  .div-30 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 120%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-31 {
    font-family: Open Sans, sans-serif;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    justify-content: center;
    padding: 12px 14px;
  }
  .div-32 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 566px;
    padding: 80px 80px;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-33 {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      margin-right: 4px;
    }
  }
  .div-34 {
    letter-spacing: -0.36px;
    align-self: center;
    font: 700 36px Poppins, sans-serif;
  }
  .div-35 {
    letter-spacing: -0.16px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
    }
  }
  .div-36 {
    position: relative;
    margin-top: 32px;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
      margin-right: 4px;
    }
  }
  .div-37 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-37 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-38 {
    padding-bottom: 16px;
    border-radius: var(--Gutter-2, 8px);
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2),
      0px 4px 8px -4px rgba(1, 24, 48, 0.2);
    background-color: var(--Global-White, #fff);
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-38 {
      margin-top: 24px;
    }
  }
  .div-39 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .img-6 {
    aspect-ratio: 3.13;
    object-fit: auto;
    object-position: center;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-40 {
    padding-bottom: 16px;
    border-radius: var(--Gutter-2, 8px);
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2),
      0px 4px 8px -4px rgba(1, 24, 48, 0.2);
    background-color: var(--Global-White, #fff);
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-40 {
      margin-top: 24px;
    }
  }
  .div-41 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .img-7 {
    aspect-ratio: 3.13;
    object-fit: auto;
    object-position: center;
    width: 300px;
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-42 {
    padding-bottom: 16px;
    border-radius: var(--Gutter-2, 8px);
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2),
      0px 4px 8px -4px rgba(1, 24, 48, 0.2);
    background-color: var(--Global-White, #fff);
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-42 {
      margin-top: 24px;
    }
  }
  .div-43 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .img-8 {
    aspect-ratio: 3.13;
    object-fit: auto;
    object-position: center;
    width: 300px;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-44 {
    padding-bottom: 16px;
    border-radius: var(--Gutter-2, 8px);
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2),
      0px 4px 8px -4px rgba(1, 24, 48, 0.2);
    background-color: var(--Global-White, #fff);
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-44 {
      margin-top: 24px;
    }
  }
  .div-45 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .img-9 {
    aspect-ratio: 3.13;
    object-fit: auto;
    object-position: center;
    width: 300px;
  }
  .div-46 {
    position: relative;
    border-radius: 8px;
    align-self: center;
    margin-top: 32px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    justify-content: center;
    padding: 12px 14px;
    font: 400 20px/120% Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-47 {
    padding-bottom: 60px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-47 {
      max-width: 100%;
    }
  }
  .img-10 {
    aspect-ratio: 14.29;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-10 {
      max-width: 100%;
    }
  }
  .div-48 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    color: var(--Body-Text-Default, #263444);
    letter-spacing: -0.36px;
    padding: 24px 60px 0;
    font: 700 36px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-49 {
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 60px 8px;
  }
  @media (max-width: 991px) {
    .div-49 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-50 {
    display: flex;
    width: 100%;
    max-width: 990px;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-50 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  .img-15 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  .div-51 {
    align-self: center;
    display: flex;
    margin-top: 24px;
    gap: 8px;
    padding: 0 20px;
  }
  .div-52 {
    border-radius: var(--Gutter-2, 8px);
    background-color: #d9d9d9;
    width: 32px;
    height: 8px;
    cursor: pointer;
  }
  .div-53 {
    border-radius: var(--Gutter-2, 8px);
    background-color: #d9d9d9;
    width: 32px;
    height: 8px;
    cursor: pointer;
  }
  .div-54 {
    border-radius: var(--Gutter-2, 8px);
    background-color: #d9d9d9;
    width: 32px;
    height: 8px;
    cursor: pointer;
  }
  .carousel-active {
    background-color: var(--kuning, #f2ba01);
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .text-over-img {
    color: white;
    bottom: 10px;
    position: absolute;
    margin-left: 10px;
    font-weight: bold;
  }
  .div-over-img {
    position: relative;
    padding: 0px 0px 80px 0px;
    bottom: 80px;
    left: 15px;
    height: 20px;
    background-image: linear-gradient(transparent, #263444);
    width: 270px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .hover-title {
    letter-spacing: -0.36px;
    align-self: center;
    font: bold 24px Poppins, sans-serif;
  }
  .column-mob {
    display: flex;
    flex-direction: column;
    line-height: normal;
    padding: 15px;
  }

  .modal-img {
    height: 224px; border-radius: 10px;
  }

  @media (min-width: 858px){
    .column-mob {
      display: none;
    }

    .service-img-section {
      flex-direction: row;
    }

    .modal-img {
      width: 426px; 
    }

    .img-service {
      height: 170px; width: 270px; border-radius: 10px;
    }

    .div-50 {
      max-width: 840px;
      overflow: hidden;
    }
  }

  @media (max-width: 858px){
    .div-4 {
      min-height: 0px;
    }

    .div-16 {
      margin-top: 10px
    }

    .div-23, .div-24, .column-3, .column {
      display: none;
    }

    .div-16 {
      margin-bottom: 30px;
    }

    .btn-talk-mob {
      margin-top: 30px;
      background-color: #2a72c7;
    }

    .service-img-section {
      text-align: center;
      flex-direction: column;
    }

    .service-img {
      margin-bottom: 1rem;
    }

    .div-33 {
      margin-top: 1rem;
    }

    .div-46 {
      margin-top: 0px;
    }

    .modal-img {
      height: 180px; width: 18rem; border-radius: 10px;
    }

    .wa-off-hover {
      right: 1em !important
    }

    .img-service {
      width: 100%;
      height: 230px;
    }

    .div-50 {
      max-width: 100%;
      flex-wrap: wrap;
      max-height: 30em;
      overflow: hidden;
    }
  }

  .hide-wa-menu {
    right: -100% !important;
  }

  .show-wa-menu {
    transition: all .5s;
  }

  .wa-off-hover {
    right: 7em
  }

  .wa-on-hover {
    right: 0%;
  }

  .div-50::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .div-50 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }