<div class="div">
  <div class="div-2">
    <div class="wa-off-hover" [ngClass]="showWa ? 'hide-wa-menu' : 'show-wa-menu'" (mouseenter)="onShowWa(false)" style="position: fixed; bottom: 2em; z-index: 1000;">
      <img src="../../../../assets/icons/wa-off-hover.png" alt="">
    </div>
    <div class="wa-on-hover" [ngClass]="!showWa ? 'hide-wa-menu' : 'show-wa-menu'" (mouseleave)="onShowWa(true)" (click)="redirectWa()" style="position: fixed; bottom: 2em; z-index: 1000; cursor: pointer;">
      <img src="../../../../assets/icons/wa-on-hover.png" alt="">
    </div>
    <div class="div-3">
      <div class="div-4">
        <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/483f90101f5d5d0c9dca5e4a685d893c89a0515494f8ef57d28938fa96a365ad?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="img"
        />
        <app-section-header></app-section-header>
        <div class="div-14">
          <div class="div-15">
            <div class="column">
              <div class="div-16">
                <div class="div-17">{{pagesData.length > 0 ? pagesData[0].page_name : ''}}</div>
                <div class="div-18">{{pagesData.length > 0 ? pagesData[0].page_desc : ''}}</div>
              </div>
            </div>
            <div class="column-2">
              <div class="div-19">
                <img
                  loading="lazy"
                  src="{{pagesData.length > 0 ? pagesData[0].page_image : 'assets/icons/cms-home-1.png'}}"
                  class="img-3"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="div-20">
          <div class="div-21">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/8bd56ac6be4dcd3605245f8063015d2664be3db945fed466b4e754275b150b3c?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
              class="img-4"
            />
            <div class="div-22">Chat Whatsapp</div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="div-23"></div>
    <div class="column-mob">
      <div class="div-16">
        <div class="div-28">{{pagesData.length > 0 ? pagesData[0].page_name : ''}}</div>
        <div class="div-18">{{pagesData.length > 0 ? pagesData[0].page_desc : ''}}</div>
      </div>
      <div class="div-16">
        <div class="div-28">{{pagesData.length > 0 ? pagesData[1].page_name : ''}}</div>
        <div class="div-18">{{pagesData.length > 0 ? pagesData[1].page_desc : ''}}</div>
        <div class="btn btn-primary btn-talk-mob" (click)="onNavigateContent('pagesData[1].page_name')" style="cursor: pointer;">More Detail</div>
      </div>
    </div>
    <div class="div-24">
      <div class="div-25">
        <div class="div-26">
          <div class="column-3">
            <img
              loading="lazy"
              src="{{pagesData.length > 0 ? pagesData[1].page_image : 'assets/icons/cms-home-2.png'}}"
              class="img-5"
            />
          </div>
          <div class="column-4">
            <div class="div-27">
              <div class="div-28">{{pagesData.length > 0 ? pagesData[1].page_name : ''}}</div>
              <div class="div-29">{{pagesData.length > 0 ? pagesData[1].page_desc : ''}}</div>
              <div class="div-30"><div class="div-31" (click)="onNavigateContent(pagesData[1].page_name)" style="cursor: pointer;">More Detail</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-32">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e7fe4d32abe5cfab1045c545cf1264da37eff80c90d4506592ba10fddc8a639f?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="img"
      />
      <div class="div-33">
        <div class="div-34">{{pagesData.length > 0 ? pagesData[2].page_name : ''}}</div>
        <div class="div-35">{{pagesData.length > 0 ? pagesData[2].page_short_desc : ''}}</div>
      </div>
      <div *ngIf="pagesData.length > 0 && pagesData[2].detail" class="service-img-section d-flex justify-content-between mt-4 pt-2">
        <div class="col-md-3 col-sm-12 service-img" *ngFor="let item of pagesData[2].detail">
          <div (click)="onHoverItem(item)">
            <img
              loading="lazy"
              src="{{item.page_image}}"
              class="img-6 img-service"
            />
          </div>
        </div>
      </div>
      <div class="div-46" (click)="onNavigate('service')" style="cursor: pointer;">View More</div>
    </div>
    <div class="div-47">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7a9e6cf1f5aafc6d228c8d99604b3e70365d5f7c93166f02813bb079593ced98?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="img-10"
      />
      <div class="div-48">{{pagesData.length > 0 ? pagesData[3].page_name : ''}}</div>
      <div class="div-49">
        <div class="div-50" id="carouselImage" *ngIf="pagesData.length > 0 && pagesData[3].detail">
          <img
            *ngFor="let item of pagesData[3].detail"
            loading="lazy"
            srcset="{{item.page_image}}"
            class="img-11"
          />
        </div>
      </div>
      <div class="div-51">
        <div class="div-52" (click)="setActiveCarousel(1)" [ngClass]="carouselSlides1 ? 'carousel-active' : ''"></div>
        <div class="div-53" (click)="setActiveCarousel(2)" [ngClass]="carouselSlides2 ? 'carousel-active' : ''"></div>
        <div class="div-54" (click)="setActiveCarousel(3)" [ngClass]="carouselSlides3 ? 'carousel-active' : ''"></div>
      </div>
    </div>
    <app-section-chat id="section-chat" style="z-index: 1000;"></app-section-chat>
    <app-section-footer style="z-index: 1000;"></app-section-footer>
  </div>
</div>

<ng-template #modalHover let-modal>
  <div class="modal-confirm-notes">
    <div class="modal-body p-3 m-1">
      <div type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="mx-3 mt-5">
        <div class="hover-title mb-3">{{modalHoverData.page_name}}</div>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img
            loading="lazy"
            src="{{modalHoverData.page_image}}"
            class="img-6 mb-3 modal-img"
          />
          <div class="div-29 mb-4" style="text-align: left; margin-top: 0px;">
            {{modalHoverData.page_desc}}
          </div>
          <div class="btn btn-primary" (click)="onNavigateContent(modalHoverData.page_name)" style="cursor: pointer; color: white; background-color: var(--Global-Primary, #2a72c7); width: 154px; border-radius: 8px;">More Detail</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
