<div class="div">
  <div class="div-2">
    <div class="div-3">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f7bef76db38840dcb3cb45b6f38e99ef8698d4722f05a35f0ee2be23040e41f?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="img"
      />
      <app-section-header></app-section-header>
      <div class="div-13">
        <div class="div-14">{{pagesData.length > 0 ? pagesData[0].detail[0].page_name : '-'}}</div>
        <div class="div-15">
          {{pagesData.length > 0 ? pagesData[0].detail[0].page_desc : '-'}}
        </div>
      </div>
    </div>
    <div class="div-16">
      <div class="div-17">
        <div class="div-18">
          <div class="acolumn-2">
            <div class="adiv-25">
              <div class="adiv-26">
                <div class="adiv-27">
                  <div class="acolumn-3">
                    <div class="adiv-28">
                      <div class="adiv-29">
                        <img
                          loading="lazy"
                          src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image : ''}}"
                          class="aimg"
                        />
                      </div>
                      <img
                        loading="lazy"
                        src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image3 : ''}}"
                        class="aimg-3"
                      />
                    </div>
                  </div>
                  <div class="acolumn-4">
                    <div class="adiv-32">
                      <div class="adiv-33">
                        <img
                          loading="lazy"
                          src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image2 : ''}}"
                          class="aimg-4"
                        />
                      </div>
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ab38386e22a5a7a6119bea97d92e6dda20a9218a9f28dbb088af5fd41c60d104?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                        class="aimg-5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-20">
              <div class="div-21">
                <div class="div-22">{{pagesData.length > 0 ? pagesData[0].detail[1].page_name : '-'}}</div>
                <div class="div-23">
                  {{pagesData.length > 0 ? pagesData[0].detail[1].page_desc : '-'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-16-mobile-view">
      <div class="div-17">
        <div class="div-18">
          <div class="column-2">
            <div class="div-20">
              <div class="div-21-mobile-view">
                <div class="div-22">{{pagesData.length > 0 ? pagesData[0].detail[2].page_name : '-'}}</div>
                <div class="div-23">
                  {{pagesData.length > 0 ? pagesData[0].detail[2].page_desc : '-'}}
                </div>
                <div class="div-25-mobile-view">
                  <img
                    loading="lazy"
                    src="{{pagesData.length > 0 ? pagesData[0].detail[2].page_image : ''}}"
                    class="img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-24">
      <div class="div-25">
        <img
          loading="lazy"
          src="{{pagesData.length > 0 ? pagesData[0].detail[2].page_image : ''}}"
          class="img"
        />
      </div>
      <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b142d7a969be64f7c885365d7719c7d14b49737df934a02ff512f16e7fc8dbf9?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
          class="img-4"
        />
        <div class="div-26">
          <div class="div-27">{{pagesData.length > 0 ? pagesData[0].detail[2].page_name : '-'}}</div>
          <div class="div-28">
            {{pagesData.length > 0 ? pagesData[0].detail[2].page_desc : '-'}}
          </div>
        </div>
    </div>
    <app-section-chat></app-section-chat>
    <app-section-footer></app-section-footer>
  </div>
</div>