.div {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 500px;
    width: 100%;
    padding: 7.5em 0px;
    margin-top: -5em;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-4 {
    position: relative;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 11px 60px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-5 {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin: 0 24px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .img-2 {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-6 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-7 {
      flex-wrap: wrap;
    }
  }
  .div-8 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-10 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
    }
  }
  .div-11 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-12 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }
  .div-13 {
    position: relative;
    justify-content: center;
    align-self: center;
    display: flex;
    width: 734px;
    max-width: 100%;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin: 82px 0 41px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin: 40px 0;
    }
  }
  .div-14 {
    letter-spacing: -0.64px;
    font: 900 64px/120% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-15 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 24px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    background-color: var(--Global-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 48px 60px;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-17 {
    margin: 0 24px;
  }
  .div-18 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-18 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-19 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .img-3 {
    aspect-ratio: 1.3;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-20 {
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .div-21 {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-22 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
    }
  }
  .div-23 {
    letter-spacing: -0.1px;
    margin: 24px 0 6px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
  .div-24 {
    background-color: var(--Global-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--Global-White, #fff);
    justify-content: center;
    padding: 48px 60px;
    margin-bottom: -20em;
  }
  .div-25 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 450px;
    margin: 0 24px 5px;
    padding: 32px 0 0 24px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      margin-right: 10px;
      padding-left: 20px;
    }
  }
  .img-4 {
    aspect-ratio: 1;
    -o-object-fit: auto;
    object-fit: auto;
    -o-object-position: center;
    object-position: center;
    width: 132px;
    align-self: flex-end;
    max-width: 100%;
    z-index: 10;
    position: relative;
    right: -12px;
    bottom: 435px;
  }
  .div-26 {
    position: relative;
    justify-content: flex-end;
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-Primary, #2a72c7);
    z-index: 10;
    display: flex;
    width: 608px;
    max-width: 100%;
    flex-direction: column;
    margin: 71px 0 -38px;
    padding: 24px;
    left: 50px;
    bottom: 375px;
  }
  @media (max-width: 991px) {
    .div-26 {
      margin: 40px 0 10px;
      padding: 0 20px;
    }
  }
  .div-27 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
    }
  }
  .div-28 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
    }
  }
  .div-29 {
    background-color: #f1f4f7;
    width: 100%;
    padding: 41px 75px 0;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-30 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-30 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-31 {
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-32 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-32 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .img-5 {
    aspect-ratio: 0.64;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-33 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
    }
  }
  .div-34 {
    display: flex;
    width: 356px;
    max-width: 100%;
    flex-direction: column;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-34 {
      padding: 0 20px;
    }
  }
  .div-35 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  .div-36 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-37 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-38 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
    }
  }
  .div-39 {
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-39 {
      flex-wrap: wrap;
    }
  }
  .div-40 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-41 {
    display: flex;
    flex-direction: column;
  }
  .div-42 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-43 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-44 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-45 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-46 {
    display: flex;
    flex-direction: column;
  }
  .div-47 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-48 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    white-space: nowrap;
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-48 {
      white-space: initial;
    }
  }
  .div-49 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-50 {
      flex-wrap: wrap;
    }
  }
  .div-51 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-52 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-53 {
    display: flex;
    flex-direction: column;
  }
  .div-54 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-55 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-56 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-57 {
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    flex: 1;
  }
  .div-58 {
    display: flex;
    flex-direction: column;
  }
  .div-59 {
    font-family: Open Sans, sans-serif;
  }
  .div-60 {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    margin-top: 8px;
    height: 38px;
  }
  .div-61 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-61 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-62 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-62 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-63 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-63 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-64 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-64 {
      max-width: 100%;
    }
  }
  .div-65 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-65 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-66 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-66 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-67 {
    align-items: flex-end;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-67 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-68 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    padding: 10px 12px;
  }
  .div-69 {
    background-color: #2a72c7;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 36px 60px 0;
  }
  @media (max-width: 991px) {
    .div-69 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-70 {
    display: flex;
    flex-direction: column;
    margin: 0 42px;
  }
  @media (max-width: 991px) {
    .div-70 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-71 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-72 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img-6 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .div-73 {
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
    }
  }
  .div-74 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-74 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-75 {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-75 {
      margin-top: 40px;
    }
  }
  .div-76 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-77 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-7 {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .div-78 {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-79 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-79 {
      margin-top: 40px;
    }
  }
  .div-80 {
    display: flex;
    flex-direction: column;
  }
  .div-81 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-82 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-83 {
    font-family: Open Sans, sans-serif;
    margin: auto 0;
  }
  .div-84 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-84 {
      white-space: initial;
    }
  }
  .div-85 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-86 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  @media (max-width: 991px) {
    .div-86 {
      white-space: initial;
    }
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-87 {
    font-family: Open Sans, sans-serif;
  }
  .div-88 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
  }
  .div-89 {
    font: 700 20px Open Sans, sans-serif;
  }
  .div-90 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .div-91 {
    font-family: Open Sans, sans-serif;
  }
  .div-92 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-93 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-94 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-95 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-96 {
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-top-width: 1px;
    color: #fff;
    text-align: right;
    margin: 24px 30px 0;
    padding: 23px 60px;
    font: 400 14px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-96 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  @media (min-width: 858px){
    .div-16-mobile-view {
      display: none;
    }
  }

  @media (max-width: 858px){
    .div-3 {
      padding: 5em 0px;
      margin-top: 0em;
    }

    .div-17 {
      margin: 0px 0px;
    }

    .column-2 {
      margin-left: 0px;
    }

    .div-21 {
      padding: 0px 0px;
    }

    .div-22 {
      text-align: center;
    }

    .div-23 {
      text-align: justify;
    }

    .div-18 {
      flex-direction: column-reverse;
    }

    .div-24 {
      display: none;
    }

    .div-16-mobile-view {
      background-color: #2a72c7;
      color: var(--Global-White, #fff);
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      margin-top: 10px;
      padding: 0 20px;
    }
    
    .div-21-mobile-view {
      color: white;
      max-width: 100%;
      padding: 0px;
      background-color: #2a72c7;
      display: flex;
      flex-direction: column;
    }

    .div-25-mobile-view {
      flex-direction: column;
      overflow: hidden;
      position: relative;
      display: flex;
      min-height: 25em;
      margin: 20px 0px;
      border-radius: 20px;
    }
  }

  .acolumn-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .acolumn-2 {
      width: 100%;
    }
  }
  .adiv-25 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .adiv-25 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .adiv-26 {
  }
  @media (max-width: 991px) {
    .adiv-26 {
      max-width: 100%;
    }
  }
  .adiv-27 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .adiv-27 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .acolumn-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .acolumn-3 {
      width: 100%;
    }
  }
  .adiv-28 {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 24px;
    color: var(--Global-White, #fff);
    font-weight: 700;
    letter-spacing: -0.24px;
  }
  @media (max-width: 991px) {
    .adiv-28 {
      margin-top: 22px;
    }
  }
  .adiv-29 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.59;
    width: 100%;
  }
  .adiv-30 {
    position: relative;
    display: flex;
    margin-top: 53px;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .adiv-30 {
      margin-top: 40px;
    }
  }
  .adiv-31 {
    font-family: Poppins, sans-serif;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
    padding: 62px 19px 15px;
  }
  @media (max-width: 991px) {
    .adiv-31 {
      padding-right: 20px;
    }
  }
  .aimg-3 {
    aspect-ratio: 1.59;
    object-fit: auto;
    object-position: center;
    width: 8em;
    align-self: flex-end;
    margin-top: 24px;
    max-width: 100%;
  }
  .acolumn-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .acolumn-4 {
      width: 100%;
    }
  }
  .adiv-32 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .adiv-32 {
      margin-top: 22px;
    }
  }
  .adiv-33 {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
  .aimg-4 {
    aspect-ratio: 0.85;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .aimg-5 {
    aspect-ratio: 2.44;
    object-fit: auto;
    object-position: center;
    width: 116px;
    margin-top: 27px;
    max-width: 100%;
    position: relative;
    left: -3.5em;
    width: 5em;
  }

  @media (min-width: 858px){
    .adiv-17 {
      margin: 0 24px;
    }
  }

  @media (max-width: 858px){
    .acolumn-3 {
      display: none;
    }

    .adiv-17 {
      margin-right: 0px;
    }

    .adiv-20, .adiv-32, .adiv-33 {
      padding: 0px;
      margin-top: 0px;
    }

    .acolumn-2, .acolumn-4 {
      margin-left: 0px;
    }

    .aimg-3 {
      width: 100%;
    }

    .aimg-5, .adiv-34 {
      display: none;
    }

    .adiv-33 {
      margin-bottom: 20px;
    }

    .adiv-21 {
      text-align: center;
    }

    .adiv-23 {
      padding-right: 0px;
    }

    .adiv-24 {
      width: 100%;
      text-align: center;
    }
  }