.footer-container {
    background-color: #2a72c7;
    display: flex;
    flex-direction: column;
    padding: 40px 50px 0px 30px;
  }
  @media (max-width: 991px) {
    .footer-container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin: 0 42px;
  }
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .footer-content {
    align-items: flex-start;
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    justify-content: space-between;
    gap: 20px;
    margin-left: 15px;
  }
  @media (max-width: 991px) {
    .footer-content {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .footer-icon {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .section-content-footer {
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 38%;
    font: 700 20px Open Sans, sans-serif;
    margin-right: 30px;
  }
  @media (max-width: 991px) {
    .section-content-footer {
      margin-top: 40px;
    }
  }
  .company-address {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .loc-icon {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .address-text {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .contact-icon-placeholder {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .contact-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .link-placeholder {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .copyright-text {
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin: 0px 30px;
    padding: 24px 60px;
    font: 400 14px Open Sans, sans-serif;
  }

  @media (min-width: 858px){
    .divider {
      margin: 0rem 1.5rem
    }
  }

  @media (max-width: 858px){
    .footer {
      margin: 10px 0px;
    }

    .divider {
      margin: 0px
    }

    .copyright-text {
      padding: 5px 0px;
    }

    .footer-content {
      margin-left: 0px;
    }

    .section-content-footer {
      width: 100%;
      margin-top: 20px;
      margin-right: 0px;
    }

    .footer-icon {
      align-self: center;
    }
    
    .section-content-footer:first-child {
      text-align: center;
    }
  }