<section>
  <div class="footer-container">
    <div class="footer">
      <div class="footer-content">
        <div class="section-content-footer">
          <img
            loading="lazy"
            src="{{pagesData.length > 0 ? pagesData[0].logo : 'assets/icons/footer-icon-1.png'}}"
            class="footer-icon"
          />
        </div>
        <div class="section-content-footer" style="width: 100%;">
          <div class="title">Address</div>
          <div class="company-address">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/307f23f2a7f55e2427b894f431bf7bd8aefeb9b8daa4c9634bfd99348b67d075?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
              class="loc-icon"
            />
            <div class="address-text">
              {{pagesData.length > 0 ? pagesData[0].address : '-'}}
            </div>
          </div>
        </div>
        <div class="section-content-footer">
          <div class="d-flex flex-column">
            <div class="title">Telephone</div>
            <div class="contact-icon-placeholder">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/fa92fbabdfc920c218306f555e9b483727e9923032be3bb6a48631af5f180e95?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                class="contact-icon"
              />
              <div>{{pagesData.length > 0 ? pagesData[0].telephone : '-'}}</div>
            </div>
          </div>
          <div class="d-flex flex-column mt-4">
            <div class="title">Email</div>
            <div class="contact-icon-placeholder">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/da3c780d3e7b6b56a58777f42c4ba00adc5a9e01d4989f3b503929112531a9fc?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                class="contact-icon"
              />
              <div>{{pagesData.length > 0 ? pagesData[0].email : '-'}}</div>
            </div>
          </div>
        </div>
        <div class="section-content-footer">
          <div class="title">Usefull Links</div>
          <div class="d-flex flex-column mt-4" style="font-size: 16px; font-weight: 400;">
            <div style="cursor: pointer;" (click)="onNavigate('/')">Home</div>
            <div style="cursor: pointer;" (click)="onNavigate('/about')" class="mt-3">About Us</div>
            <div style="cursor: pointer;" (click)="onNavigate('/service')" class="mt-3">Service</div>
            <div style="cursor: pointer;" (click)="onNavigate('/team')" class="mt-3">Our Teams</div>
            <div style="cursor: pointer;" (click)="onNavigate('/lets-talk')" class="mt-3">Let's Talk</div>
          </div>
        </div>
      </div>
      <div style="border-bottom: 2px solid #F2F2F2;" class="divider"></div>
      <div class="copyright-text">
        All Rights Reserved © 2024, PT. Sentra Daya Manggala
      </div>
    </div>
  </div>
</section>