.div {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .div-3 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 500px;
    width: 100%;
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-4 {
    position: relative;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 11px 60px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-5 {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin: 0 24px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .img-2 {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-6 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-7 {
      flex-wrap: wrap;
    }
  }
  .div-8 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-10 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
    }
  }
  .div-11 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-12 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }
  .div-13 {
    position: relative;
    justify-content: center;
    align-self: center;
    display: flex;
    width: 734px;
    max-width: 100%;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin: 82px 0 41px;
    padding: 0 20px;
    top: 80px
  }
  @media (max-width: 991px) {
    .div-13 {
      margin: 40px 0;
    }
  }
  .div-14 {
    letter-spacing: -0.64px;
    font: 900 64px/120% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-15 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 24px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    background-color: var(--Global-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 48px 60px;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .div-18 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-18 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-19 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .div-20 {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-21 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
    }
  }
  .div-22 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
    }
  }
  .div-23 {
    align-items: flex-start;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-24 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    padding: 10px 12px;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-25 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .div-26 {
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .div-27 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-27 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-28 {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 24px;
    color: var(--Global-White, #fff);
    font-weight: 700;
    letter-spacing: -0.24px;
  }
  @media (max-width: 991px) {
    .div-28 {
      margin-top: 22px;
    }
  }
  .div-29 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.59;
    width: 100%;
    padding-top: 80px;
  }
  .div-30 {
    position: relative;
    display: flex;
    margin-top: 53px;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 40px;
    }
  }
  .div-31 {
    font-family: Poppins, sans-serif;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
    padding: 62px 19px 15px;
  }
  @media (max-width: 991px) {
    .div-31 {
      padding-right: 20px;
    }
  }
  .img-3 {
    aspect-ratio: 1.59;
    object-fit: auto;
    object-position: center;
    width: 330px;
    align-self: flex-end;
    margin-top: 24px;
    max-width: 100%;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-32 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-32 {
      margin-top: 22px;
    }
  }
  .div-33 {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
  .img-4 {
    aspect-ratio: 0.85;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .img-5 {
    aspect-ratio: 2.44;
    object-fit: auto;
    object-position: center;
    width: 116px;
    margin-top: 27px;
    max-width: 100%;
  }
  .div-34 {
    background-color: var(--Global-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    padding: 48px 60px;
    margin-bottom: -35em;
  }
  .div-35 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 450px;
    width: 100%;
    align-items: flex-flex-start;
    gap: 20px;
    justify-content: space-between;
    margin: 0 24px;
    padding: 24px 0 0 24px;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
      padding-left: 20px;
    }
  }
  .div-36 {
    position: relative;
    border-radius: var(--Gutter-2, 8px);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--Global-White, #fff);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 24px;
    bottom: 420px;
    left: 50px;
    width: 600px;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-37 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
    }
  }
  .div-38 {
    text-align: justify;
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 132px;
    align-self: flex-end;
    z-index: 10;
    margin-top: 8px;
    max-width: 100%;
    position: relative;
    top: -53em;
    right: -50px;
  }
  .div-39 {
    background-color: #f1f4f7;
    width: 100%;
    padding: 41px 75px 0;
  }
  @media (max-width: 991px) {
    .div-39 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-40 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-40 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-41 {
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-41 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-42 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-42 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .img-7 {
    aspect-ratio: 0.64;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-43 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-43 {
      max-width: 100%;
    }
  }
  .div-44 {
    display: flex;
    width: 356px;
    max-width: 100%;
    flex-direction: column;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-44 {
      padding: 0 20px;
    }
  }
  .div-45 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  .div-46 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-47 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-47 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-48 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-48 {
      max-width: 100%;
    }
  }
  .div-49 {
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-49 {
      flex-wrap: wrap;
    }
  }
  .div-50 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-51 {
    display: flex;
    flex-direction: column;
  }
  .div-52 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-53 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-54 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-55 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-56 {
    display: flex;
    flex-direction: column;
  }
  .div-57 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-58 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    white-space: nowrap;
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-58 {
      white-space: initial;
    }
  }
  .div-59 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-59 {
      white-space: initial;
    }
  }
  .div-60 {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-60 {
      flex-wrap: wrap;
    }
  }
  .div-61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-62 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-63 {
    display: flex;
    flex-direction: column;
  }
  .div-64 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-65 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-66 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-67 {
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    flex: 1;
  }
  .div-68 {
    display: flex;
    flex-direction: column;
  }
  .div-69 {
    font-family: Open Sans, sans-serif;
  }
  .div-70 {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    margin-top: 8px;
    height: 38px;
  }
  .div-71 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-72 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-73 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-74 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
    }
  }
  .div-75 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-76 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-77 {
    align-items: flex-end;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-77 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-78 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    padding: 10px 12px;
  }
  .div-79 {
    background-color: #2a72c7;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 36px 60px 0;
  }
  @media (max-width: 991px) {
    .div-79 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-80 {
    display: flex;
    flex-direction: column;
    margin: 0 42px;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-81 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-81 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-82 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img-8 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .div-83 {
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
    }
  }
  .div-84 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-84 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-85 {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-85 {
      margin-top: 40px;
    }
  }
  .div-86 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-87 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-9 {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .div-88 {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-89 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-89 {
      margin-top: 40px;
    }
  }
  .div-90 {
    display: flex;
    flex-direction: column;
  }
  .div-91 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-92 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-93 {
    font-family: Open Sans, sans-serif;
    margin: auto 0;
  }
  .div-94 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-94 {
      white-space: initial;
    }
  }
  .div-95 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-96 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  @media (max-width: 991px) {
    .div-96 {
      white-space: initial;
    }
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-97 {
    font-family: Open Sans, sans-serif;
  }
  .div-98 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
  }
  .div-99 {
    font: 700 20px Open Sans, sans-serif;
  }
  .div-100 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .div-101 {
    font-family: Open Sans, sans-serif;
  }
  .div-102 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-103 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-104 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-105 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-106 {
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-top-width: 1px;
    color: #fff;
    text-align: right;
    margin: 24px 30px 0;
    padding: 24px 60px;
    font: 400 14px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-106 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  @media (min-width: 858px){
    .div-17 {
      margin: 0 24px;
    }
  }

  @media (max-width: 858px){
    .div-3 {
      margin-top: 1.5em;
    }
    
    .div-17 {
      margin-right: 0px;
    }

    .div-20 {
      padding: 0px;
    }

    .column-2, .column-4 {
      margin-left: 0px;
    }

    .img-3 {
      width: 100%;
    }

    .img-5, .div-34 {
      display: none;
    }

    .div-33 {
      margin-bottom: 20px;
    }

    .div-21 {
      text-align: center;
    }

    .div-23 {
      padding-right: 0px;
    }

    .div-24 {
      width: 100%;
      text-align: center;
    }
  }