<div class="div">
  <div class="div-2">
    <div class="div-3">
      <img
        loading="lazy"
        src="{{pagesData.length > 0 ? pagesData[0].detail[0].page_image : '-'}}"
        class="img"
      />
      <app-section-header></app-section-header>
      <div class="div-13">
        <div class="div-14">{{pagesData.length > 0 ? pagesData[0].detail[0].page_name : '-'}}</div>
        <div class="div-15">
          {{pagesData.length > 0 ? pagesData[0].detail[0].page_desc : '-'}}
        </div>
      </div>
    </div>
    <div class="div-16">
      <div class="div-17">
        <div class="div-18">
          <div class="column">
            <div class="div-19">
              <div class="div-20">
                <div class="div-21">{{pagesData.length > 0 ? pagesData[0].detail[1].page_name : '-'}}</div>
                <div class="div-22">
                  {{pagesData.length > 0 ? pagesData[0].detail[1].page_desc : '-'}}
                </div>
                <div class="div-23">
                  <div class="div-24" style="cursor: pointer;" (click)="onNavigate('/lets-talk')">Let’s Talks</div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-25">
              <div class="div-26">
                <div class="div-27">
                  <div class="column-3">
                    <div class="div-28">
                      <div class="div-29">
                        <img
                          loading="lazy"
                          src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image : ''}}"
                          class="img"
                        />
                      </div>
                      <img
                        loading="lazy"
                        src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image3 : ''}}"
                        class="img-3"
                      />
                    </div>
                  </div>
                  <div class="column-4">
                    <div class="div-32">
                      <div class="div-33">
                        <img
                          loading="lazy"
                          src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image2 : ''}}"
                          class="img-4"
                        />
                      </div>
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ab38386e22a5a7a6119bea97d92e6dda20a9218a9f28dbb088af5fd41c60d104?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
                        class="img-5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-34">
      <div class="div-35">
        <img
          loading="lazy"
          src="{{pagesData.length > 0 ? pagesData[0].detail[2].page_image : ''}}"
          class="img"
        />
      </div>
      <div class="div-36">
        <div class="div-37">{{pagesData.length > 0 ? pagesData[0].detail[2].page_name : '-'}}</div>
        <div class="div-38">
          {{pagesData.length > 0 ? pagesData[0].detail[2].page_desc : '-'}}
        </div>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/97619e85a08f63a8ed195a518293a1e5f11b10b0ef8c137dfc3252c8222503b0?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="img-6"
      />
    </div>
    <app-section-chat></app-section-chat>
    <app-section-footer></app-section-footer>
  </div>
</div>