.div {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 11px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-3 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1272px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-4 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-wrap: wrap;
    }
  }
  .div-6 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 6px;
    background-color: rgba(42, 114, 199, 0.1);
    color: #2a72c7;
    font-weight: 800;
    margin: auto 0;
    padding: 8px 12px;
  }
  .div-8 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-10 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }
  .div-11 {
    background: linear-gradient(0deg, #2a72c7 0%, #2a72c7 100%);
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 8em 0em 10em 0em;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      padding: 30px 0px;
      margin: 50px 0px;
    }
  }
  .div-12 {
    display: flex;
    margin-bottom: 82px;
    width: 960px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin-bottom: 40px;
    }
  }
  .div-13 {
    letter-spacing: -0.36px;
    align-self: center;
    font: 700 36px Poppins, sans-serif;
  }
  .div-14 {
    letter-spacing: -0.1px;
    margin-top: 20px;
    font: 400 18px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
    }
  }
  .div-15 {
    border-radius: 20px;
    background-color: #fff;
    align-self: center;
    z-index: 10;
    display: flex;
    margin-top: -155px;
    width: 100%;
    max-width: 90%;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: var(--Body-Text-Link, #2a72c7);
    font-weight: 400;
    letter-spacing: -0.32px;
    padding: 16px 32px;
  }
  @media (max-width: 991px) {
    .div-16 {
      padding: 0 20px;
    }
  }
  .div-17 {
    font-family: Open Sans, sans-serif;
  }
  .div-18 {
    color: var(--Body-Text-Muted, #bec2c7);
    align-self: flex-start;
    font: 16px Open Sans, sans-serif;
  }
  .div-19 {
    font-family: Open Sans, sans-serif;
  }
  .div-20 {
    color: var(--Body-Text-Muted, #bec2c7);
    font: 16px Open Sans, sans-serif;
  }
  .div-21 {
    align-self: center;
    margin-top: 16px;
    width: 100%;
    padding: 0px 50px 80px 50px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
    }
  }
  .div-22 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-22 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-23 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 28px;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
      margin-top: 32px;
      padding: 0 20px;
    }
  }
  .div-24 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
    }
  }
  .div-26 {
    font-family: Open Sans, sans-serif;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-27 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-2 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
    }
  }
  .div-28 {
    background-color: var(--Global-White, #fff);
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    color: var(--Global-White, #fff);
    justify-content: center;
    padding: 48px 60px;
    margin-bottom: -15em;
  }
  .div-29 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 451px;
    margin: 0 24px 4px;
    padding: 32px 0 0 24px;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      margin-right: 10px;
      padding-left: 20px;
    }
  }
  .img-3 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 132px;
    align-self: flex-end;
    max-width: 100%;
    z-index: 10;
    position: relative;
    right: -12px;
    bottom: 435px;
  }
  .div-30 {
    position: relative;
    justify-content: flex-end;
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-Primary, #2a72c7);
    z-index: 10;
    display: flex;
    width: 608px;
    max-width: 100%;
    flex-direction: column;
    margin: 71px 0 -38px;
    padding: 24px;
    left: 50px;
    bottom: 375px;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin: 40px 0 10px;
      padding: 0 20px;
    }
  }
  .div-31 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
    }
  }
  .div-32 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
    }
  }
  .div-33 {
    background-color: #fafafa;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 48px 80px;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      margin: 40px 0 10px;
      padding: 0 20px;
    }
  }
  .div-34 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #263444;
    text-align: center;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      margin-right: 4px;
    }
  }
  .div-35 {
    letter-spacing: -0.36px;
    align-self: center;
    font: 700 36px Poppins, sans-serif;
  }
  .div-36 {
    letter-spacing: -0.2px;
    margin-top: 24px;
    font: 400 20px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
    }
  }
  .div-37 {
    justify-content: center;
    margin-top: 24px;
    padding: 0 2px 32px;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      margin-right: 4px;
    }
  }
  .div-38 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-38 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-39 {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    text-align: center;
    width: 100%;
    padding: 24px 16px;
  }
  @media (max-width: 991px) {
    .div-39 {
      margin-top: 36px;
    }
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 141px;
    align-self: center;
    max-width: 100%;
  }
  .div-40 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
  }
  .div-41 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  .div-42 {
    letter-spacing: -0.16px;
    margin-top: 16px;
    font: 400 16px Open Sans, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-43 {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    text-align: center;
    width: 100%;
    padding: 24px 16px;
  }
  @media (max-width: 991px) {
    .div-43 {
      margin-top: 36px;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 141px;
    align-self: center;
    max-width: 100%;
  }
  .div-44 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
  }
  .div-45 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  .div-46 {
    letter-spacing: -0.16px;
    margin-top: 16px;
    font: 400 16px Open Sans, sans-serif;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-47 {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    text-align: center;
    width: 100%;
    padding: 24px 16px;
  }
  @media (max-width: 991px) {
    .div-47 {
      margin-top: 36px;
    }
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 141px;
    align-self: center;
    max-width: 100%;
  }
  .div-48 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
  }
  .div-49 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  .div-50 {
    letter-spacing: -0.16px;
    margin-top: 16px;
    font: 400 16px Open Sans, sans-serif;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-51 {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    text-align: center;
    width: 100%;
    padding: 24px 16px;
  }
  @media (max-width: 991px) {
    .div-51 {
      margin-top: 36px;
    }
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 141px;
    align-self: center;
    max-width: 100%;
  }
  .div-52 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
  }
  .div-53 {
    letter-spacing: -0.24px;
    font: 600 24px Poppins, sans-serif;
  }
  .div-54 {
    letter-spacing: -0.16px;
    margin-top: 16px;
    font: 400 16px Open Sans, sans-serif;
  }
  .div-55 {
    align-self: center;
    display: flex;
    margin-top: 24px;
    gap: 8px;
  }
  .div-56 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--kuning, #f2ba01);
    width: 32px;
    height: 8px;
  }
  .div-57 {
    border-radius: var(--Gutter-2, 8px);
    background-color: rgba(0, 0, 0, 0.2);
    width: 32px;
    height: 8px;
  }
  .div-58 {
    border-radius: var(--Gutter-2, 8px);
    background-color: rgba(0, 0, 0, 0.2);
    width: 32px;
    height: 8px;
  }
  .div-59 {
    align-items: center;
    background-color: #2a72c7;
    display: flex;
    margin-top: 83px;
    width: 100%;
    flex-direction: column;
    padding: 36px 60px 0;
  }
  @media (max-width: 991px) {
    .div-59 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-60 {
    display: flex;
    width: 100%;
    max-width: 1236px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-60 {
      max-width: 100%;
    }
  }
  .div-61 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-61 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-62 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img-9 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .div-63 {
  }
  @media (max-width: 991px) {
    .div-63 {
      max-width: 100%;
    }
  }
  .div-64 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-64 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-65 {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-65 {
      margin-top: 40px;
    }
  }
  .div-66 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-67 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-10 {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .div-68 {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-69 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-69 {
      margin-top: 40px;
    }
  }
  .div-70 {
    display: flex;
    flex-direction: column;
  }
  .div-71 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-72 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-73 {
    font-family: Open Sans, sans-serif;
    margin: auto 0;
  }
  .div-74 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-74 {
      white-space: initial;
    }
  }
  .div-75 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-76 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  @media (max-width: 991px) {
    .div-76 {
      white-space: initial;
    }
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-77 {
    font-family: Open Sans, sans-serif;
  }
  .div-78 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
  }
  .div-79 {
    font: 700 20px Open Sans, sans-serif;
  }
  .div-80 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .div-81 {
    font-family: Open Sans, sans-serif;
  }
  .div-82 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-83 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-84 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-85 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-86 {
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-top-width: 1px;
    color: #fff;
    text-align: right;
    margin: 24px 30px 0;
    padding: 24px 60px;
    font: 400 14px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  @media (min-width: 858px){
    .column-2-mobile-view {
      display: none;
    }

    .div-21-mobile-view {
      display: none;
    }
  }

  @media (max-width: 858px){
    .div-15 {
      margin-top: 0px;
    }

    .div-16 {
      display: none;
    }

    .div-21 {
      margin-top: 0px;
      padding: 0px 20px 0px 0px;
    }

    .div-25, .div-26 {
      text-align: justify;
    }

    .div-23 {
      padding: 0px 0px 0px 20px;
    }

    .div-11 {
      padding: 30px 0px 0px 0px;
      margin: 55px 0px 0px 0px;
    }

    .div-24 {
      text-align: center;
    }

    .column-2 {
      display: none;
    }

    .div-28 {
      display: none;
    }

    .div-21-mobile-view {
      align-self: center;
      width: 100%;
      margin-top: 0px;
      padding: 0px 20px 0px 0px;
    }

    .div-27 {
      margin: 32px 0px;
    }

    .column-3, .column-4, .column-5, .column-6 {
      margin-left: 0px;
    }
  }