<div class="div">
  <app-section-header></app-section-header>
  <div class="div-11">
    <div class="div-12">
      <div class="div-13">{{pagesData.length > 0 ? pagesData[0].page_name : '-'}}</div>
      <div class="div-14">{{pagesData.length > 0 ? pagesData[0].page_short_desc : '-'}}</div>
    </div>
  </div>
  <div class="div-15">
    <div class="div-16">
      <div style="cursor: pointer;" (click)="onNavigate('/')" class="div-17">Home</div>
      <div class="div-18">/</div>
      <div class="div-19">About Us</div>
    </div>
    <div class="div-21">
      <div class="div-22">
        <div class="column">
          <div class="div-23">
            <div class="div-24">{{pagesData.length > 0 ? pagesData[0].detail[0].page_name : '-'}}</div>
            <div class="column-2-mobile-view">
              <div class="div-27">
                <img
                  loading="lazy"
                  src="{{pagesData.length > 0 ? pagesData[0].detail[0].page_image : ''}}"
                  class="img-2"
                />
              </div>
            </div>
            <div class="div-25">
              {{pagesData.length > 0 ? pagesData[0].detail[0].page_desc : ''}}
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-27">
            <img
              loading="lazy"
              src="{{pagesData.length > 0 ? pagesData[0].detail[0].page_image : ''}}"
              class="img-2"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="div-21-mobile-view" style="background-color: #2a72c7;">
      <div class="div-22">
        <div class="column">
          <div class="div-23" style="background-color: #2a72c7; color: white;">
            <div class="div-24">{{pagesData.length > 0 ? pagesData[0].detail[1].page_name : ''}}</div>
            <div class="div-25">
              {{pagesData.length > 0 ? pagesData[0].detail[1].page_desc : ''}}
            </div>
            <div class="column-2-mobile-view">
              <div class="div-27">
                <img
                  loading="lazy"
                  src="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image : ''}}"
                  class="img-2"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-28">
    <div class="div-29">
      <img
        loading="lazy"
        srcset="{{pagesData.length > 0 ? pagesData[0].detail[1].page_image : ''}}"
        class="img-3"
        style="border-radius: 15px;"
      />
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/12b29fd2d4ba32efa01e6788fb968517a7d6b1d9de076794a5fdd5ce3d48ebd6?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
      class="img-4"
    />
    <div class="div-30">
      <div class="div-31">{{pagesData.length > 0 ? pagesData[0].detail[1].page_name : ''}}</div>
      <div class="div-32">
        {{pagesData.length > 0 ? pagesData[0].detail[1].page_desc : ''}}
      </div>
    </div>
  </div>
  <div class="div-33" id="team-section">
    <div class="div-34">
      <div class="div-35">{{pagesData.length > 0 ? pagesData[1].page_name : ''}}</div>
      <div class="div-36">{{pagesData.length > 0 ? pagesData[1].page_short_desc : ''}}</div>
    </div>
    <div class="div-37">
      <div class="div-38" *ngIf="pagesData.length > 0 && pagesData[1].detail">
        <div class="column-3" *ngFor="let item of pagesData[1].detail">
          <div class="div-39">
            <img
              loading="lazy"
              src="{{item.page_image}}"
              class="img-5"
            />
            <div class="div-40">
              <div class="div-41">{{item.page_name}}</div>
              <div class="div-42">{{item.page_desc}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-section-footer></app-section-footer>
</div>