<section>
  <div class="header-container" [ngClass]="[isBottom ? 'header-scroll' : '', serviceActive ? 'bg-white-mob' : '']">
    <div class="header">
      <img
        *ngIf="homeActive"
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="nav-icon"
        style="cursor: pointer;"
        (click)="onNavigate('/')"
      />
      <img
        *ngIf="!homeActive"
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="nav-icon"
        style="cursor: pointer;"
        (click)="onNavigate('/')"
        [ngClass]="[isBottom ? '.clear-filter' : 'bg-non-home']"
      />
      <div class="nav-menu-container">
        <div class="nav-menu" *ngIf="!homeActive">
          <div class="text-menu" [ngClass]="[homeActive ? 'active' : '', isBottom ? '.clear-filter' : 'bg-non-home']" (click)="onNavigate('/')">Home</div>
          <div class="text-menu" [ngClass]="[aboutActive ? 'active' : '', isBottom ? '.clear-filter' : 'bg-non-home']" (click)="onNavigate('/about')">About us</div>
          <div class="text-menu" [ngClass]="[serviceActive ? 'active' : '', isBottom ? '.clear-filter' : 'bg-non-home']" (click)="onNavigate('/service')">Services</div>
          <div class="text-menu" [ngClass]="[teamActive ? 'active' : '', isBottom ? '.clear-filter' : 'bg-non-home']" (click)="onNavigate('/team')">Our Teams</div>
          <div class="text-menu" [ngClass]="[isBottom ? 'to-section' : 'to-section-non-home']" (click)="onNavigate('/lets-talk')">Let's Talk</div>
        </div>
        <div class="nav-menu" *ngIf="homeActive">
          <div class="text-menu" [ngClass]="[homeActive ? 'active' : '']" (click)="onNavigate('/')">Home</div>
          <div class="text-menu" [ngClass]="[aboutActive ? 'active' : '']" (click)="onNavigate('/about')">About us</div>
          <div class="text-menu" [ngClass]="[serviceActive ? 'active' : '']" (click)="onNavigate('/service')">Services</div>
          <div class="text-menu" [ngClass]="[teamActive ? 'active' : '']" (click)="onNavigate('/team')">Our Teams</div>
          <div class="text-menu to-section" (click)="onNavigate('/lets-talk')">Let's Talk</div>
        </div>
      </div>
      <div class="nav-menu-list" (click)="showNavbar(true)">
        <i class="fa-solid fa-2x fa-bars"></i>
      </div>
    </div>
    <div class="nav-menu-container-mobile" [ngClass]="navActive ? 'show-nav-menu' : 'hide-nav-menu'">
      <div type="button" class="close text-muted close-nav-bar-mobile" (click)="showNavbar(false)">
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="nav-menu-mobile">
        <div class="text-menu" [ngClass]="[homeActive ? 'active' : '']" (click)="onNavigate('/')">Home</div>
        <div class="text-menu" [ngClass]="[aboutActive ? 'active' : '']" (click)="onNavigate('/about')">About us</div>
        <div class="text-menu" [ngClass]="[serviceActive ? 'active' : '']" (click)="onNavigate('/service')">Services</div>
        <div class="text-menu" [ngClass]="[teamActive ? 'active' : '']" (click)="onNavigate('/team')">Our Teams</div>
        <div class="text-menu to-section" (click)="onNavigate('/lets-talk')">Let's Talk</div>
      </div>

      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/807ea5be49162a2450874a63df9e455472d7686f27eea6d01e387db7c1f6d043?apiKey=17e9ece042d84848a33228e4fbb6fb39&"
        class="nav-icon-mobile"
        style="cursor: pointer;"
        (click)="onNavigate('/')"
      />
    </div>
  </div>
</section>