  .header-container {
    position: fixed;
    background-color: transparent;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 10px 0px 10px 20px;
    z-index: 9999;
  }
  @media (max-width: 991px) {
    .header-container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .header {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin: 0 24px;
  }
  @media (max-width: 991px) {
    .container-header {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .nav-icon {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .nav-menu-container {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0px 25px
  }
  @media (max-width: 991px) {
    .nav-menu-container {
      max-width: 100%;
    }
  }
  .nav-menu {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .nav-menu {
      flex-wrap: wrap;
    }
  }
  .text-menu {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
    cursor: pointer;
  }
  .active {
    border-radius: 6px;
    color: #2a72c7;
    font-weight: 800;
    white-space: nowrap;
    margin: auto 0;
    padding: 8px 12px;
  }
  .to-section {
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }

  .to-section-non-home {
    border-radius: 8px;
    background-color: #fff;
    color: var(--Global-White, #2a72c7);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }

  .header-scroll {
    background-color: white !important;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
  }

  .clear-filter {
    filter:  none !important;
  }

  @media (min-width: 858px){
    .nav-menu-list {
      display: none;
    }

    .active {
      background-color: rgba(42, 114, 199, 0.1);
    }

    .nav-menu-container-mobile {
      display: none;
    }

    .bg-non-home {
      filter:  brightness(0) invert(1);
    }

    .bg-white-mob {
      background-color: transparent;
    }
  }

  @media (max-width: 858px){
    .bg-white-mob {
      background-color: white;
    }

    .header-container {
      padding: 10px 0px;
    }

    .nav-menu-container {
      display: none;
    }

    .nav-menu-container-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 0px;
      text-align: center;
      transition: all .5s;
    }

    .show-nav-menu {
      left: 0%;
    }

    .hide-nav-menu {
      left: -100%;
    }

    .nav-menu-mobile {
      position: relative;
      bottom: 10em;
      text-align: left;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0px 10px;
    }

    .to-section, .to-section-non-home {
      margin: 10px 12px;
      text-align: center;
    }

    .nav-icon-mobile {
      aspect-ratio: 3.03;
      object-fit: auto;
      object-position: center;
      width: 113px;
      max-width: 100%;
      position: relative;
      bottom: 5em;
      align-self: center;
    }

    .close-nav-bar-mobile {
      align-self: flex-end;
      position: relative;
      right: 20px;
      top: 10px;
    }

    .bg-non-home {
      background-color: white;
    }
  }