<div class="div">
  <app-section-header></app-section-header>
  <div class="div-11">
    <div class="div-12">
      <div class="div-13">{{pagesData.length > 0 ? pagesData[0].page_name : ''}}</div>
      <div class="div-14">{{pagesData.length > 0 ? pagesData[0].page_short_desc : ''}}</div>
    </div>
  </div>
  <div class="div-15">
    <div class="div-16">
      <div style="cursor: pointer;" (click)="onNavigate('/')" class="div-17">Home</div>
      <div class="div-18">/</div>
      <div class="div-19">Service we offer</div>
    </div>
    <div class="div-20">
      <div class="div-21">
        <div class="div-22">
          <div class="column">
            <div class="div-23">
              <div class="div-24">{{pagesData.length > 0 ? pagesData[1].page_name : ''}}</div>
              <div class="div-25">
                {{pagesData.length > 0 ? pagesData[1].page_desc : ''}}
              </div>
              <div class="div-26" (click)="onNavigate(pagesData[1].page_name)" style="cursor: pointer;">More Detail</div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-27">
              <img
                loading="lazy"
                src="{{pagesData.length > 0 ? pagesData[1].page_image : ''}}"
                class="img-2"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="div-28">
        <div class="div-29">
          <div class="column-3">
            <div class="div-30">
              <img
                loading="lazy"
                src="{{pagesData.length > 0 ? pagesData[2].page_image : ''}}"
                class="img-3"
              />
            </div>
          </div>
          <div class="column-4">
            <div class="div-31">
              <div class="div-32">{{pagesData.length > 0 ? pagesData[2].page_name : ''}}</div>
              <div class="div-33">
                {{pagesData.length > 0 ? pagesData[2].page_desc : ''}}
              </div>
              <div class="div-34" (click)="onNavigate(pagesData[2].page_name)" style="cursor: pointer;">More Detail</div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-35">
        <div class="div-36">
          <div class="column">
            <div class="div-37">
              <div class="div-38">{{pagesData.length > 0 ? pagesData[3].page_name : ''}}</div>
              <div class="div-39">
                {{pagesData.length > 0 ? pagesData[3].page_desc : ''}}
              </div>
              <div class="div-40" (click)="onNavigate(pagesData[3].page_name)" style="cursor: pointer;">More Detail</div>
            </div>
          </div>
          <div class="column-5">
            <div class="div-41">
              <img
                loading="lazy"
                src="{{pagesData.length > 0 ? pagesData[3].page_image : ''}}"
                class="img-4"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="div-42">
        <div class="div-43">
          <div class="column-6">
            <div class="div-44">
              <img
                loading="lazy"
                src="{{pagesData.length > 0 ? pagesData[4].page_image : ''}}"
                class="img-5"
              />
            </div>
          </div>
          <div class="column-7">
            <div class="div-45">
              <div class="div-46">{{pagesData.length > 0 ? pagesData[4].page_name : ''}}</div>
              <div class="div-47">
                {{pagesData.length > 0 ? pagesData[4].page_desc : ''}}
              </div>
              <div class="div-48" (click)="onNavigate(pagesData[4].page_name)" style="cursor: pointer;">More Detail</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-section-chat></app-section-chat>
  <app-section-footer></app-section-footer>
</div>