.div {
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    letter-spacing: 0.26px;
    justify-content: center;
    padding: 11px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-3 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1272px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 113px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-4 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-wrap: wrap;
    }
  }
  .div-6 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    white-space: nowrap;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-8 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 6px;
    background-color: rgba(42, 114, 199, 0.1);
    color: #2a72c7;
    font-weight: 800;
    white-space: nowrap;
    margin: auto 0;
    padding: 8px 12px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border: 0px solid #2a72c7;
    padding: 12px;
  }
  .div-10 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 106%;
    margin: auto 0;
    padding: 10px 12px;
  }
  .div-11 {
    background: linear-gradient(0deg, #2a72c7 0%, #2a72c7 100%);
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 8.3em 0px 12em 0px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-12 {
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-13 {
    letter-spacing: -0.36px;
    align-self: center;
    font: 700 36px Poppins, sans-serif;
  }
  .div-14 {
    letter-spacing: -0.1px;
    margin-top: 20px;
    font: 400 18px/32px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
    }
  }
  .div-15 {
    border-radius: 40px 40px 0px 0px;
    background-color: #fafafa;
    z-index: 10;
    display: flex;
    margin-top: -110px;
    width: 100%;
    flex-direction: column;
    padding: 24px 80px 37px;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-16 {
    align-self: flex-start;
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: var(--Body-Text-Link, #2a72c7);
    font-weight: 400;
    letter-spacing: -0.32px;
    padding: 10px 18px
  }
  @media (max-width: 991px) {
    .div-16 {
      margin-left: 4px;
      padding: 0 20px;
    }
  }
  .div-17 {
    font-family: Open Sans, sans-serif;
  }
  .div-18 {
    color: var(--Body-Text-Muted, #bec2c7);
    align-self: flex-start;
    font: 16px Open Sans, sans-serif;
  }
  .div-19 {
    font-family: Open Sans, sans-serif;
  }
  .div-20 {
    align-self: center;
    display: flex;
    margin-top: 24px;
    width: 100%;
    max-width: 94%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
    }
  }
  .div-22 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-22 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-23 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    width: 100%;
    padding: 24px;
    height: 100%;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-24 {
    letter-spacing: -0.24px;
    font: 700 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
    }
  }
  .div-26 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    align-self: flex-start;
    margin-top: 24px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-26 {
      padding: 0 20px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-27 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-2 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    /* width: 100%; */
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
    }
  }
  .div-28 {
    justify-content: center;
    background-color: #fff;
    margin-top: 64px;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      margin-top: 10px;
    }
  }
  .div-29 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-29 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-30 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-3 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    /* width: 100%; */
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-31 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
      margin-top: 10px;
      padding: 0 20px;
    }
  }
  .div-32 {
    letter-spacing: -0.24px;
    font: 700 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
    }
  }
  .div-33 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
    }
  }
  .div-34 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    align-self: flex-start;
    margin-top: 24px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-34 {
      padding: 0 20px;
    }
  }
  .div-35 {
    margin-top: 64px;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
      margin-top: 10px;
    }
  }
  .div-36 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-36 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-37 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    width: 100%;
    padding: 24px;
    height: 100%;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      margin-top: 32px;
      padding: 0 20px;
    }
  }
  .div-38 {
    letter-spacing: -0.24px;
    font: 700 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
    }
  }
  .div-39 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-39 {
      max-width: 100%;
    }
  }
  .div-40 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    align-self: flex-start;
    margin-top: 24px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-40 {
      padding: 0 20px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-41 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-41 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-4 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    /* width: 100%; */
  }
  @media (max-width: 991px) {
    .img-4 {
      max-width: 100%;
    }
  }
  .div-42 {
    justify-content: center;
    background-color: #fff;
    margin-top: 64px;
  }
  @media (max-width: 991px) {
    .div-42 {
      max-width: 100%;
      margin-top: 10px;
    }
  }
  .div-43 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-43 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-44 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-44 {
      max-width: 100%;
      margin-top: 32px;
    }
  }
  .img-5 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    /* width: 100%; */
  }
  @media (max-width: 991px) {
    .img-5 {
      max-width: 100%;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-45 {
    border-radius: var(--Gutter-2, 8px);
    background-color: var(--Global-White, #fff);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--Body-Text-Default, #263444);
    font-weight: 400;
    width: 100%;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-45 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-46 {
    letter-spacing: -0.24px;
    font: 700 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-46 {
      max-width: 100%;
    }
  }
  .div-47 {
    text-align: justify;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-47 {
      max-width: 100%;
    }
  }
  .div-48 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Global-Primary, #2a72c7);
    align-self: flex-start;
    margin-top: 24px;
    color: var(--Global-White, #fff);
    letter-spacing: 0.38px;
    line-height: 119%;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-48 {
      padding: 0 20px;
    }
  }
  .div-49 {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-49 {
      max-width: 100%;
    }
  }
  .div-50 {
    background-color: #f1f4f7;
    width: 100%;
    padding: 38px 75px;
  }
  @media (max-width: 991px) {
    .div-50 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-51 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-51 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-52 {
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-52 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-53 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-53 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 0.64;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-54 {
    align-items: flex-end;
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-54 {
      max-width: 100%;
    }
  }
  .div-55 {
    display: flex;
    width: 356px;
    max-width: 100%;
    flex-direction: column;
    padding: 24px;
  }
  @media (max-width: 991px) {
    .div-55 {
      padding: 0 20px;
    }
  }
  .div-56 {
    letter-spacing: -0.28px;
    font: 700 28px Poppins, sans-serif;
  }
  .div-57 {
    letter-spacing: -0.1px;
    margin-top: 24px;
    font: 400 16px/28px Open Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-58 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    justify-content: center;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-58 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-59 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-59 {
      max-width: 100%;
    }
  }
  .div-60 {
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-60 {
      flex-wrap: wrap;
    }
  }
  .div-61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-62 {
    display: flex;
    flex-direction: column;
  }
  .div-63 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-64 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-65 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-66 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-67 {
    display: flex;
    flex-direction: column;
  }
  .div-68 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-69 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    white-space: nowrap;
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-69 {
      white-space: initial;
    }
  }
  .div-70 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-70 {
      white-space: initial;
    }
  }
  .div-71 {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-71 {
      flex-wrap: wrap;
    }
  }
  .div-72 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-73 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-74 {
    display: flex;
    flex-direction: column;
  }
  .div-75 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  .div-76 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  .div-77 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 10px 12px;
  }
  .div-78 {
    display: flex;
    flex-direction: column;
    color: var(--Body-Text-Default, #263444);
    justify-content: center;
    flex: 1;
  }
  .div-79 {
    display: flex;
    flex-direction: column;
  }
  .div-80 {
    font-family: Open Sans, sans-serif;
  }
  .div-81 {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    margin-top: 8px;
    height: 38px;
  }
  .div-82 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-83 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-84 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-84 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-85 {
    color: var(--Body-Text-Default, #263444);
    font-family: Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-85 {
      max-width: 100%;
    }
  }
  .div-86 {
    border-radius: 4px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    color: var(--Body-Text-Muted, #bec2c7);
    line-height: 119%;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-87 {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #cbdafc;
    border-color: rgba(214, 219, 224, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Global-White, #fff);
    justify-content: center;
    padding: 12px;
  }
  @media (max-width: 991px) {
    .div-87 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-88 {
    align-items: flex-end;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    color: var(--Global-White, #fff);
    white-space: nowrap;
    letter-spacing: 0.38px;
    line-height: 119%;
    justify-content: center;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .div-88 {
      max-width: 100%;
      padding-left: 20px;
      white-space: initial;
    }
  }
  .div-89 {
    font-family: Open Sans, sans-serif;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a72c7;
    padding: 10px 12px;
  }
  @media (max-width: 991px) {
    .div-89 {
      white-space: initial;
    }
  }
  .div-90 {
    align-items: center;
    background-color: #2a72c7;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 36px 60px 0;
  }
  @media (max-width: 991px) {
    .div-90 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-91 {
    display: flex;
    width: 100%;
    max-width: 1236px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-91 {
      max-width: 100%;
    }
  }
  .div-92 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-92 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-93 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img-7 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 200px;
  }
  .div-94 {
  }
  @media (max-width: 991px) {
    .div-94 {
      max-width: 100%;
    }
  }
  .div-95 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-95 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-96 {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-96 {
      margin-top: 40px;
    }
  }
  .div-97 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-98 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-8 {
    aspect-ratio: 0.69;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    align-self: flex-start;
  }
  .div-99 {
    font-family: Open Sans, sans-serif;
    flex: 1;
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-100 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
  }
  @media (max-width: 991px) {
    .div-100 {
      margin-top: 40px;
    }
  }
  .div-101 {
    display: flex;
    flex-direction: column;
  }
  .div-102 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-103 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 187.5%;
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-104 {
    font-family: Open Sans, sans-serif;
    margin: auto 0;
  }
  .div-105 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-105 {
      white-space: initial;
    }
  }
  .div-106 {
    text-transform: capitalize;
    font: 700 20px Open Sans, sans-serif;
  }
  .div-107 {
    display: flex;
    margin-top: 18px;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  @media (max-width: 991px) {
    .div-107 {
      white-space: initial;
    }
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }
  .div-108 {
    font-family: Open Sans, sans-serif;
  }
  .div-109 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
  }
  .div-110 {
    font: 700 20px Open Sans, sans-serif;
  }
  .div-111 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  .div-112 {
    font-family: Open Sans, sans-serif;
  }
  .div-113 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-114 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-115 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-116 {
    font-family: Open Sans, sans-serif;
    margin-top: 20px;
  }
  .div-117 {
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-top-width: 1px;
    color: #fff;
    text-align: right;
    margin: 24px 30px 0;
    padding: 24px 60px;
    font: 400 14px Open Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-117 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  @media (min-width: 858px){

  }

  @media (max-width: 858px){
    .div-11 {
      padding: 40px 20px 60px 20px;
      margin: 60px 0px 60px 0px;
    }

    .div-16 {
      display: none;
    }

    .div-20, .div-37 {
      margin-top: 10px;
    }

    .div-23, .div-31, .div-37, .div-45 {
      padding: 15px 10px;
    }

    .column-2, .column-4, .column-5, .column-7 {
      margin-left: 0px;
    }

    .div-26, .div-34, .div-40, .div-48 {
      text-align: center;
      width: 100%;
      line-height: 2em;
      margin-top: 15px;
    }
    
    .div-36, .div-22 {
      display: flex;
      flex-direction: column-reverse;
    }
  }